*{
    font-family: Azeret Mono;
}
header{
    margin-top: 100px;
    height: 600px;
    background-image:url('../assets/Hero-bg.png');
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.btn-prime{
    padding: 18px 35px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}
header p{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
header h1{
    font-weight: 600;
}
main{
    margin: 200px 50px 0px 50px;
    /* margin: 5px 50px; */
}
.first{
    text-align: center;
}
.para{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
}
.layer-1{
   margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    gap: 70px;
    background-color: white;
}
.text{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
/* border: 5px solid white;
margin: 50px; */
}
.learn{
    font-size: 20px;
padding: 15px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.9;
}
.full{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    /* margin: 5px 50px;     */
}
.fixed-font{
    font-size: 32px;
}
.title{
    font-size: 25px;
    color:rgba(13, 19, 33, 0.7)
}
.inspi{
    text-align: center;
    font-size: 32px;
}
.inspi-descript{
    text-align: center;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
}
.video{
    text-align: center;
    width: 1500px;
    height: 700px;
   padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
display: block;
margin: 50px auto auto auto;
}
iframe{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 10px 0px;
}
.last{
    margin-top: 151px;
}
.target{
    text-align: center;
    font-size: 32px;
}
.target-descript{
    text-align: center;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
}
.box{
    width: 284px;
    padding: 50px;
    /* width: 284px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px; */
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);

}
.box-2{
    width: 284px;
    padding: 50px;
    /* width: 284px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px; */
border-radius: 16px;
background:rgba(0, 76, 232, 0.05)

}
.box-3{
    width: 284px;
    padding: 50px;
    /* width: 284px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px; */
border-radius: 16px;
background:rgba(255, 223, 0, 0.05)

}
.box-contain{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 30px 24px;
}
.box-text{
    text-align: left;
}
.container{
    position: absolute;
    margin-left: 50px;
    justify-content: center;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('../assets/handshake.jpg');
    background-size:cover;
    width: 1400px;
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.centered{
    display: block;
    padding: 64px 48px 64px 48px;
    text-align: center;
    color:rgba(255, 255, 255, 1);
}
.text-contain{
display: flex;
margin-left: 400px;
}
textarea{
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
border-radius: 16px;
padding: 21px 20px 8px 20px;
}
.submit{
    margin-left: 20px;
    padding: 17px 20px 17px 20px;
    color: rgb(15, 14, 14);
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    
    border: none;
    background: rgb(255, 255, 255);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 500px;
    margin-left:200px ;
    margin-right: 200px;
    position: relative;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    padding: 10px 50px;
    background-color: rgba(13, 19, 33, 0.03);
    color: rgb(16, 15, 15);
    /* text-align: center; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}
.rid{
    font-size: 19px;
    font-weight: 600;
    background: rgba(255, 76, 30, 0.05);
    border: none;
    text-decoration: underline;
}
.rid-2{
    font-size: 19px;
    font-weight: 600;
    background:rgba(0, 76, 232, 0.05);
    border: none;
    text-decoration: underline;
}
.rid-3{
    font-size: 19px;
    font-weight: 600;
    background:rgba(255, 223, 0, 0.05);
    border: none;
    text-decoration: underline;
}